.contact {
  position: absolute;
  width: 100vw;
  height: 100vh;

  &:after {
    content: '';
    height: 40rem;
    width: 40rem;
    background: $color-3;
    border-radius: 50%;
    position: absolute;
    top: 8rem;
    right: 5rem;
    z-index: -10;
    animation: contactAnim 25s alternate infinite;

    @keyframes contactAnim {
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  .logo {
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    transform: scale(0);
    animation: logoProject 2s ease forwards;

    @keyframes logoProject {
      to {
        transform: scale(1);
      }
    }
  }

  .contact-form {
    margin: 10% 0 0 30%;
    padding: 0.5rem;
    max-width: 25%;
    position: relative;
    border: solid 3px $color-2;
    min-width: 150px;

    h2 {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    .form-content {
      display: grid;
      grid-template-rows: repeat(4, 1fr) 4.5rem;

      input,
      textarea {
        background: none;
        font-family: $font-1;
        font-size: 1.4rem;
        border-bottom: 1px solid $color-2;
      }
      input {
        padding: 1rem 0 1rem;
        width: 100%;
      }
      .email-content {
        position: relative;
        width: 100%;
        border-bottom: 1px solid $color-2;

        #not-mail {
          display: none;
          position: absolute;
          top: 2rem;
          color: $red;
          right: 0;
          transform-origin: 50% 50%;
        }
        @keyframes dongle {
          0% {
            transform: translate(0px, 0px);
          }
          10% {
            transform: translate(-10px, 0px);
          }
          20% {
            transform: translate(10px, 0px);
          }
          30% {
            transform: translate(-10px, 0px);
          }
          40% {
            transform: translate(10px, 0px);
          }
          50% {
            transform: translate(-10px, 0px);
          }
          60% {
            transform: translate(10px, 0px);
          }
          70% {
            transform: translate(-10px, 0px);
          }
          80% {
            transform: translate(10px, 0px);
          }
          90% {
            transform: translate(-10px, 0px);
          }
          100% {
            transform: translate(0px, 0px);
          }
        }
        input {
          border: none;
        }
      }
      textarea {
        resize: none;
        padding: 0.5rem 0;
      }
    }
    .error::placeholder {
      color: $red;
    }
    .form-message {
      margin-top: 1rem;
      // padding: 1rem;
      opacity: 0;
      background: $color-2;
      transition: 0.3s ease;
      color: $color-1;
      border-radius: 4px;
      box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
    }
  }
  .contact-infos {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-rows: repeat(4, 23%) 12%;
    max-width: 500px;
    width: 100%;
    height: 70%;

    h4 {
      color: $color-4;
      font-size: 1.8rem;
      font-weight: 200;
      margin-bottom: 1rem;
      text-decoration: underline;
    }
    p {
      font-size: 1.5rem;
    }

    .email .content p,
    .phone .content p {
      transition: 0.25s;

      &:hover {
        transform: translateX(5px);
      }
    }

    .address {
      position: relative;

      .content {
        position: absolute;
        right: 10%;
      }
    }
    .phone {
      position: relative;

      .content {
        position: absolute;
        left: 30%;
        transform: translateX(-50%);
      }
    }
    .social-network {
      position: relative;
      width: 80%;
      margin: 0 auto;
      font-size: 3rem;

      .content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .credits {
      text-align: center;

      p {
        font-size: 1rem;
      }
    }
  }
}
// *****************RESPONSIVE****************
@media screen and (max-width: 768px) {
  .contact {
    &:after {
      animation: none;
    }
    .contact-form {
      margin: 20% 0 0 5%;
    }
    .contact-infos {
      right: 10rem;
      height: 70%;
      width: 30%;

      grid-template-rows: 20% 13% 10% 15% 5%;

      p {
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .contact {
    .contact-form {
      margin: 40% 0 0 3%;
    }
    .contact-infos {
      left: 13.5rem;
      p {
        font-size: 0.8rem;
      }
      .phone {
        .content {
          left: 45%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
