.project {
  position: absolute;
  height: 100vh;
  width: 100vw;

  &:after {
    content: '';
    height: 20rem;
    width: 20rem;
    border: 1px solid $color-2;
    border-radius: 50%;
    position: absolute;
    bottom: 55%;
    left: 15%;
    z-index: -1;
  }

  .navigation {
    transform: translateY(-100%);
    animation: navProject 1s ease forwards;

    @keyframes navProject {
      to {
        transform: translateY(0);
      }
    }
  }
  .logo {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    transform: scale(0);
    animation: logoProject 2s ease forwards;

    @keyframes logoProject {
      to {
        transform: scale(1);
      }
    }
  }
  .project-main {
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    text-align: right;
    height: 100vh;
    width: 100vw;

    .project-content {
      margin-top: 30%;
      margin-right: 1rem;

      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-family: $font-2;
        color: $color-2;
        transform: scaleX(0);
        animation: transformTitle 1.5s ease forwards;
        transform-origin: 150%;

        @keyframes transformTitle {
          to {
            transform: scaleX(1);
          }
        }
      }
      p {
        margin-bottom: 2rem;
        color: $color-4;
        font-size: 1.2rem;

        &:after {
          content: '';
          height: 340px;
          width: 340px;
          background: $color-3;
          border-radius: 50%;
          position: absolute;
          top: 25rem;
          left: 6rem;
          z-index: -10;
          animation: circleAnim 16s infinite alternate;
          @keyframes circleAnim {
            50% {
              transform: scale(0.7);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
      li {
        font-size: 1.5rem;
      }
    }
    .img-content {
      margin-top: 15%;
      position: relative;
      text-align: left;
      margin-left: 1rem;

      .img-container {
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.26);
        width: 60%;
        height: 60%;
        overflow: hidden;
        position: relative;

        &:hover span,
        span:hover {
          visibility: visible;
          transform: translateY(0);
        }

        img {
          overflow: hidden;
          object-fit: cover;
          object-position: 0%;
          width: 100%;
          height: 100%;
          position: absolute;
          transition: 0.4s ease-out;
          position: relative;

          &:hover,
          span:hover img {
            transform: scale(1.2);
            filter: opacity(15%) contrast(150%);
          }
        }
        span {
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
          padding: 1rem;
          margin: 0 auto;
          line-height: 3rem;
          font-size: 1.5rem;
          visibility: hidden;
          transition: 0.5s ease;
          transform: translateY(200px);

          h3 {
            padding-bottom: 1rem;
            color: rgb(2, 121, 148);
          }
        }
      }
    }
  }
  .button-container {
    a {
      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-1;
        background: $color-2;

        &:hover {
          color: $color-2;
          background: $color-3;
        }
      }
    }
  }
  .random-circle {
    position: absolute;
    height: 30rem;
    width: 30rem;
    background: $color-3;
    border-radius: 50%;
    z-index: -1;
    animation: circleAnim 16s infinite alternate;

    @keyframes circleAnim {
      50% {
        transform: scale(0.7);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
// ***************RESPONSIVE************
@media screen and (max-width: 768px) {
  .project {
    .project-main {
      grid-template-columns: 35% 65%;
      .project-content {
        margin-top: 77%;
        h1 {
          font-size: 1.8rem;
        }
      }
      .img-content {
        margin-top: 43%;
        .img-container {
          width: 90%;
          height: 70%;
          span {
            line-height: 2.5rem;
            font-size: 1rem;

            h3 {
              font-size: 1rem;
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
    .random-circle {
      display: none;
    }
  }
}
@media screen and (max-width: 425px) {
  .project {
    .project-main {
      grid-template-columns: 40% 60%;
      .project-content {
        margin-top: 100%;
        h1 {
          font-size: 1.5rem;
        }
      }
      .img-content {
        margin-top: 70%;
        .img-container {
          width: 90%;
          height: 70%;
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .project {
    .project-main {
      grid-template-columns: 40% 60%;
      .project-content {
        margin-top: 120%;
        margin-left: 2%;
        h1 {
          font-size: 1.1rem;
        }
        p {
          font-size: 1rem;
        }
        li {
          font-size: 1rem;
        }
      }
      .img-content {
        margin-top: 80%;
        .img-container {
          width: 90%;
          height: 70%;
        }
      }
    }
  }
}
